
  
  .bg{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: :1;
    transition-delay: .05s;
    transition: all .25s;
  }
  
  input[type="checkbox"]{
    position: relative;
    z-index: 1;
    appearance: none;
    width: 50px;
    height: 23px;
    border-radius: 30px;
    background: #aaa09e00;
    outline: 1;
    border: 1px solid rgb(209, 209, 209);
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked{
    background: #23d149;
  }
  
  input[type="checkbox"]:after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: rgb(216, 216, 216);
    border-radius: 50%;
    left: 3px;
    top: 47%;
    transform: translateY(-50%);
    border: 2px solid #f4f4f4;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1);
    transition: all .35s;
  }
  
  input[type="checkbox"]:checked:after{
    left: calc(100% - 18px);
  }
  
  input[type="checkbox"]:checked + .bg{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  }
  